<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Iven.Web</title>
    <link rel="stylesheet" href="/Content/fonts/icomoon/style.css"/>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Content/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/Content/css/jquery-ui.css"/>
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/Content/css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="/Content/css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" href="/Content/fonts/flaticon/font/flaticon.css"/>
    <link rel="stylesheet" href="/Content/css/aos.css"/>
    <link rel="stylesheet" href="/Content/css/style.css"/>
</head>
<body>
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")

    </div>

    <script src="/Content/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Content/js/jquery-ui.js"></script>
    <script src="/Content/js/popper.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.stellar.min.js"></script>
    <script src="/Content/js/jquery.countdown.min.js"></script>
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="/Content/js/aos.js"></script>
    <script src="/Content/js/main.js"></script>
</body>
</html>
